body{
    margin: 0;
    padding: 0;
}

header, main, footer{
    width: 100%;
}


/* Cabeçalho */

header{
    height: 60px;
    background: rgb(64, 94, 150);
}

nav{
    display: flex;
    justify-content: space-between;
    width: 1080px;
    margin: 0 auto;
}

nav img{
    width: 50px;
    height: 50px;
    margin: 0px 10px;
}

nav ul{
    display: flex;
    justify-content: flex-end;
}

nav li{
    list-style-type: none;
}

nav a{
    color: azure;
    font: 18px;
    margin: 5px 10px;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}


/* Conteúdo Principal */

main{
    height: 100%;
    background: rgb(221, 218, 9);
}

#banner{
    width: 1080px;
    margin: 0 auto;
}

#banner img{
    width: 100%;
    height: 400px;
}

#fotos{
    text-align: center;
    height: 400px;
    width: 1080px;
    margin: 0 auto;
}

#fotos img{
    width: 350px;
    height: 300px;
}

#fotos div{
    display: flex;
    justify-content: space-around;
}


/* Rodapé */

footer{
    height: 50px;
    background: rgb(64, 94, 150);
    text-align: center;
    margin-top: -20px;
}

footer p{
    padding: 15px 0;
}